<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Foro de Videojuegos</title>
  <link rel="stylesheet" href="/public/view/css/foro.css">
</head>
<body>
    <div class="hero"> 
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>

        <h2 class="title">FORO</h2>
        
       <div class="foro-principal">
        <div class="foro">
            <div id="mensajes"></div>
              <input type="text" class="foro-1-input" id="usuario"  placeholder="   Tu nombre">
              <textarea   class="foro-2-textarea"  id="mensaje"  placeholder="   Escribe tu mensaje"></textarea>
              <button  class="foro-3-button" onclick="enviarMensaje()">Enviar</button>
            </div>
       </div>
       

  <script src="/public/view/js/foro.js"></script>
</body>
</html>